<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#audui_vedio_demo">How to Work</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mobile_demo">How to Work For Mobile</button>

<!-- Button to Open the Modal -->

<!-- The Modal -->
<div class="modal" id="audui_vedio_demo">
     <div class="modal-dialog">
          <div class="modal-content">

               <!-- Modal Header -->
               <div class="modal-header">
                    <h4 class="modal-title">How It Works </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>

               <!-- Modal body -->
               <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                         <div class="carousel-inner">
                              <div class="carousel-item active">
                                   <div class="demo-innner">
                                        <img class="toturiel-img" src="../../assets/toturial/screen1.png" alt="">
                                        <p>When you login from Desktop your meeting room will look like this</p>
                                   </div>

                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen2">
                                        <img class="toturiel-img" src="../../assets/toturial/screen2.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>This is your Audio and Video pane where you will see Council Members and
                                             Managing Agent.</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen3">
                                        <img class="toturiel-img" src="../../assets/toturial/screen3.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>This is where you find information of your login , your name, device you are
                                             using and the operating System</p>
                                   </div>
                              </div>

                              <div class="carousel-item">
                                   <div class="demo-innner screen4">
                                        <img class="toturiel-img" src="../../assets/toturial/screen4.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>Click 3 dots on right hand top corner to view network strength and language
                                             options</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen5">
                                        <img class="toturiel-img" src="../../assets/toturial/screen5.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>This is where all presentation material will be shown, it is possible that
                                             this is toggled with the Audio and Video broadcast</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen6">
                                        <img class="toturiel-img" src="../../assets/toturial/screen6.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>Click the expand icon to view a presentation in full screen mode</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen7">
                                        <img class="toturiel-img" src="../../assets/toturial/screen7.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>If you have a question or you want to speak, raise hand, you will be given
                                             permission to speak at which time you will be requested to switch on your
                                             audio and/or video and once switched on , you will be audible and/or
                                             visible to all participants</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen8">
                                        <img class="toturiel-img" src="../../assets/toturial/screen8.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>Check out your audio and video settings by clicking the gear icon in Audio
                                             and Video Panel</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen9">
                                        <img class="toturiel-img" src="../../assets/toturial/screen9.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>Test your video and Audio settings, if you intend to speak during the meeting
                                        </p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen10">
                                        <img class="toturiel-img" src="../../assets/toturial/screen10.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>This is the voting panel </p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen11">
                                        <img class="toturiel-img" src="../../assets/toturial/screen11.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>If allowed during the meeting you can post questions here </p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen12">
                                        <img class="toturiel-img" src="../../assets/toturial/screen12.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>Whenever a resolution is being discussed you will see it here</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen13">
                                        <img class="toturiel-img" src="../../assets/toturial/screen13.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>See details of the resolution</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen14">
                                        <img class="toturiel-img" src="../../assets/toturial/screen14.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>See how many shares and units you are voting for as an Owner</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen15">
                                        <img class="toturiel-img" src="../../assets/toturial/screen15.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>If you are holding proxies or are attending as a proxy see the shares held
                                             here</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen16">
                                        <img class="toturiel-img" src="../../assets/toturial/screen16.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>If SP who has given proxy to you has already indicated a decision you will
                                             see the decision here</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen17">
                                        <img class="toturiel-img" src="../../assets/toturial/screen17.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>Whenever Voting starts for a resolution you will be able to view the actions
                                             available to you for the resolution here</p>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner screen18">
                                        <img class="toturiel-img" src="../../assets/toturial/screen18.png" alt="">

                                        <img class="popup-arw" src="../../assets/toturial/arrow-up.png" alt="">
                                        <p>View Resolutions for which decisions have been made here </p>
                                   </div>
                              </div>
                         </div>

                    </div>
                    <div class="nav-slider">
                         <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                              data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <!-- <span class="sr-only">Previous</span> -->
                              Previous
                         </a>
                         <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                              data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <!-- <span class="sr-only">Next</span> -->
                              Next
                         </a>
                    </div>
               </div>


          </div>
     </div>
</div>

<!--Mobile-Demo--->
<div class="modal" id="mobile_demo">
     <div class="modal-dialog">
          <div class="modal-content">

               <!-- Modal Header -->
               <div class="modal-header">
                    <h4 class="modal-title">How It Works On Mobile</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>

               <!-- Modal body -->
               <div class="modal-body">
                    <div id="carouselExampleControlsMobile" class="carousel slide" data-ride="carousel"
                         data-interval="false">
                         <div class="carousel-inner">
                              <div class="carousel-item active">
                                   <div class="demo-innner-mob screen1-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen1.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>When you login from your mobile your meeting room will look
                                                            like this
                                                            <br><br>
                                                            Your default opening window will be the video window where
                                                            you can view all presenters when the presenters video is
                                                            streamed.

                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen2-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen1.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>The Raise hand feature is available on the video window, If
                                                            you have a question or you want to speak, raise hand</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen3-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen3.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>When you are given permission to speak at which time you will
                                                            be requested to switch on your audio and/or video and once
                                                            switched on , you will be audible and/or visible to all
                                                            participants</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen4-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen4.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>Your device will request for permission, click Allow. </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen5-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen5.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>Please note that if you click NO or Cancel , such settings
                                                            will be saved on your browser preferences and you will not
                                                            be able to provide access of your camera or mic for the
                                                            meeting unless you enable access from the settings menu of
                                                            your device by providing a minimum of Ask permission OR by
                                                            resetting your browser preferences and clearing the website
                                                            history.</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <!-- <div class="carousel-item">
                                   <div class="demo-innner-mob screen6-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen6.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>The</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen7-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen7.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>The</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen8-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen8.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>The</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen9-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen9.jpg" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>The</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>-->
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen10-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen10.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>This is the voting pane</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen11-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen11.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>If allowed during the meeting you can post questions here</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen12-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen12.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>Whenever a resolution is being discussed you will see it here
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen13-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen13.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>See details of the resolution</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen14-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen14.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>See how many shares and units you are voting for as an Owner
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen15-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen15.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>If you are holding proxies or are attending as a proxy see the
                                                            shares held here</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen16-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen16.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>If SP who has given proxy to you has already indicated a
                                                            decision you will see the decision here</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen17-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen17.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>Whenever Voting starts for a resolution you will be able to
                                                            view the actions available to you for the resolution here
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                   <div class="demo-innner-mob screen18-mob">
                                        <div class="container-fluid">
                                             <div class="row">
                                                  <div class="col">
                                                       <img class="toturiel-img-mob"
                                                            src="../../assets/toturial/mob-screen18.png" alt="">
                                                       <img class="popup-arw-mob"
                                                            src="../../assets/toturial/arrow-up.png" alt="">
                                                  </div>
                                                  <div class="col">
                                                       <p>View Resolutions for which decisions have been made here</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>


                         </div>

                    </div>
                    <div class="nav-slider">
                         <a class="carousel-control-prev" href="#carouselExampleControlsMobile" role="button"
                              data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <!-- <span class="sr-only">Previous</span> -->
                              Previous
                         </a>
                         <a class="carousel-control-next" href="#carouselExampleControlsMobile" role="button"
                              data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <!-- <span class="sr-only">Next</span> -->
                              Next
                         </a>
                    </div>
               </div>


          </div>
     </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

     // $(".click-to-show").click(function(){
     //      alert("aaaa")
     //      document.getElementById("audui_vedio_demo").click();
     // })

     $('.carousel').carousel({
          interval: false,
          pause: true,
     });
</script>