.voting-result label {
     display: block;
}

.active-resolution label {
     display: block;
}

.mat-expansion-panel {
     margin-bottom: 5px;
}

.action-block label {
     display: block;
}

.action-block select {
     display: block;
     margin-bottom: 10px;
}

.inner-details-section label {
     display: block;
}

.nomination-section label {
     display: block;
}

.nomination-section button {
     margin-left: 20px;
}

.result-block label {
     display: block;
}