.moderator-settings {
     padding: 20px;
}
.moderator-settings label {
     display: block;
     text-align: center;
}
.moderator-settings .button-block {
     text-align: center;
}

.moderator-settings .button-block button {
     color: white !important;
     margin-top: 20px;
}
